{
    "data": {
        "elevation": 0,
        "external_url": null,
        "internal_url": null,
        "latitude": 36.18644214580232,
        "location_name": "StonesAnchor",
        "longitude": -115.23228853940965,
        "time_zone": "America/Los_Angeles",
        "unit_system": "imperial"
    },
    "key": "core.config",
    "version": 1
}